@charset "UTF-8";

:root {
    --primary-color: #0B0B0B;
    --secundary-color: #1C1C1C;
    --text-color: #E4D6A9;
    --tercery-color: #650207;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

